:root {
  --border-width: 2px;
  --border-radius: 10px;
  --color-accent: rgb(21, 193, 216);

  --color-panel: #fff;
  --color-text: rgba(0, 0, 0, 0.7);
  --color-title: rgba(0, 0, 0, 1);
  --color-border: rgba(0, 0, 0, 0.12);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.2rem;
  font-weight: 500;
  background: none;
  color: var(--color-text);
  user-select: none;
  -webkit-user-select: none;
  font-family: system-ui, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-panel: #242424;
    --color-text: rgba(255, 255, 255, 0.7);
    --color-title: rgba(255, 255, 255, 1);
    --color-border: rgba(255, 255, 255, 0.12);
  }
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  transition: 0.3s opacity;
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNS-Light'), local('.SFNSText-Light'),
    local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'),
    local('Segoe UI Light'), local('Ubuntu Light'), local('Roboto-Light'),
    local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local('.SFNS-LightItalic'), local('.SFNSText-LightItalic'),
    local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'),
    local('Segoe UI Light Italic'), local('Ubuntu Light Italic'),
    local('Roboto-LightItalic'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local('.SFNS-Regular'), local('.SFNSText-Regular'),
    local('.HelveticaNeueDeskInterface-Regular'), local('.LucidaGrandeUI'),
    local('Segoe UI'), local('Ubuntu'), local('Roboto-Regular'),
    local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local('.SFNS-Italic'), local('.SFNSText-Italic'),
    local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'),
    local('Segoe UI Italic'), local('Ubuntu Italic'), local('Roboto-Italic'),
    local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local('.SFNS-Medium'), local('.SFNSText-Medium'),
    local('.HelveticaNeueDeskInterface-MediumP4'), local('.LucidaGrandeUI'),
    local('Segoe UI Semibold'), local('Ubuntu Medium'), local('Roboto-Medium'),
    local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local('.SFNS-MediumItalic'), local('.SFNSText-MediumItalic'),
    local('.HelveticaNeueDeskInterface-MediumItalicP4'),
    local('.LucidaGrandeUI'), local('Segoe UI Semibold Italic'),
    local('Ubuntu Medium Italic'), local('Roboto-MediumItalic'),
    local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local('.SFNS-Bold'), local('.SFNSText-Bold'),
    local('.HelveticaNeueDeskInterface-Bold'), local('.LucidaGrandeUI'),
    local('Segoe UI Bold'), local('Ubuntu Bold'), local('Roboto-Bold'),
    local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local('.SFNS-BoldItalic'), local('.SFNSText-BoldItalic'),
    local('.HelveticaNeueDeskInterface-BoldItalic'), local('.LucidaGrandeUI'),
    local('Segoe UI Bold Italic'), local('Ubuntu Bold Italic'),
    local('Roboto-BoldItalic'), local('DroidSans-Bold'), local('Tahoma Bold');
}
